/*body*/

@media screen and (max-width: 767px) {
	.me p {
		padding-top: 0.3em;
		font-size: 1.8em;
		line-height: 1.6em;
	}
	.me h1 {
		margin-top: 1.2em;
		font-weight: bold;
		font-size: 3em;
	}
	#item1 {
		background-image: url(../img/bg-sm.jpg);
	}
	#menu a {
		border-bottom: 1px solid #ccc;
	}
	.bg-white {
		background: url(../img/bg-sm-nav.jpg);
	}
	.auther-name {
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.me {
		height: 50%;
		width: 100%;
		text-align: center;
		top: 40%;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.hid {
		display: none;
	}
	.me h1 {
		margin-top: 1.2em;
		line-height: 1.0em;
		margin-bottom: 0;
		margin-left: 10px;
	}
	blockquote {
		font-size: 2em;
	}
}

@media screen and (min-width: 768px) and (max-width:1899px) {
	.me p {
		padding-top: 0.3em;
		font-size: 1.4em;
		line-height: 1.4em;
	}
	.me h1 {
		margin-top: 1.2em;
		font-weight: bold;
		font-size: 2em;
	}
	#item1 {
		background-image: url(../img/bg.jpg);
	}
	.bg-white {
		background: url(../img/bg-nav.jpg);
	}
	.auther-name {
		width: 1200px;
		height: 240px;
		top: 36%;
		bottom: 0;
		right: 0;
		left: 0;
		background: #4e4f7a;
	}
	.me {
		height: 280px;
		width: 56%;
		min-width: 500px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.me h1 {
		line-height: 1.4em;
	}
	blockquote {
		font-size: 2em;
	}
}

@media screen and (max-width: 1899px) {
	#item2,
	#item3,
	#item4,
	#item5,
	#item6 {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

@media screen and (min-width: 1900px) {
	#item2,
	#item3,
	#item4,
	#item5,
	#item6 {
		padding: 150px 0;
	}
	.me {
		margin: auto 0 auto 20%;
	}
	.me p {
		padding-top: 0.3em;
		font-size: 1.8em;
		line-height: 1.6em;
	}
	.me h1 {
		margin-top: 1.2em;
		font-weight: bold;
		font-size: 3em;
	}
	#item1 {
		background-image: url(../img/bg.jpg);
	}
	.bg-white {
		background: url(../img/bg-nav.jpg);
	}
	.auther-name {
		min-width: 500px;
		height: 380px;
		top: 40%;
		bottom: 0;
		right: 0;
		left: 0;
		background: #4e4f7a;
	}
	.me {
		height: 380px;
		width: 56%;
		min-width: 500px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	.me h1 {
		line-height: 1.8em;
	}
	blockquote {
		font-size: 3em;
	}
}

@media screen and (min-width: 1601px) {
	.container {
		width: 1400px;
	}
	.saying {
		width: 600px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 991px) {
	#item3 .title {
		text-align: center;
	}
}

@media screen and (min-width: 992px) {
	#item3 h3 {
		margin-top: 90px;
		margin-bottom: 50px;
	}
}

body,
a {
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", SimSun, 宋体, sans-serif;
	;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	letter-spacing: 2px;
}

.title h2 {
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 3px solid #e57167;
	margin-bottom: 50px;
	height: 80px;
	line-height: 80px;
}

#item2 .title,
#item4 .title,
#item5 .title {
	text-align: center;
}

p {
	font-size: 16px;
	line-height: 28px;
}


/*sidebar*/

#myScrollspy {
	position: fixed;
	top: 40%;
	right: 30px;
}

.nav-pills> li.active> a,
.nav-pills> li.active> a:hover,
.nav-pills> li.active> a:focus {
	background-color: #e10000;
}

.nav-pills> li> a {
	border-radius: 50%;
	background-color: #999;
	padding: 6px;
	margin-bottom: 10px;
	opacity: 0.5;
}


/*nav*/

#navBar {
	border-radius: 0;
}

.bg-transparent {
	background-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
	background-color: #ccc;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #fff;
}

.navbar {
	min-height: 80px;
	border: 1px solid transparent;
	margin-bottom: 0;
	text-align: center;
}

.navbar-toggle {
	padding: 9px 10px;
	margin-top: 32px;
	margin-right: 15px;
	margin-bottom: 32px;
}

.navbar-brand {
	padding: 34px;
}

.navbar-nav {
	margin: 0px -15px;
}

#menu a {
	color: #fff;
	line-height: 60px;
	background-color: transparent;
}

#menu a:hover {
	color: #e57167;
}

#menu a:active {
	color: #e10000;
}


/*section1*/

html,
body,
#item1 {
	height: 100%;
	margin: 0;
}

#item1 {
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	zoom: 1;
	background-attachment: fixed;
	width: 100%;
}

.auther-name {
	position: relative;
}

.me {
	position: absolute;
	color: #fff;
}

blockquote {
	text-justify: inter-ideograph;
	border: none;
}

blockquote h1 {
	font-size: 2em;
}


/*item2*/

.myself h4 {
	margin-top: 10px;
	margin-bottom: 50px;
}

.myself P {
	line-height: 30px;
}


/*item3*/

#item3 {
	background-color: #f2f2f2;
}

#main {
	height: 520px;
}

#item3 h2 {
	margin-top: 90px;
}


/*item4*/

#item4 h4 {
	height: 30px;
	line-height: 30px;
}

#item4 p {
	margin-bottom: 20px;
}


/*item5*/

#item5 {
	background-color: #f2f2f2;
}

figure {
	overflow: hidden;
	position: relative;
	width: 100%;
	box-shadow: 0 1px 5px #999;
	margin-top: 20px;
	margin-bottom: 20px;
}

.grid {
	transform: scale(1.5 1.5) translate(0, -50px);
}

figure:hover img,
figure:focus img {
	transition: width 1s, height 1s, opacity 1s;
	-moz-transition: width 1s, height 1s, opacity 1s, -moz-transform 1s;
	/* Firefox 4 */
	-webkit-transition: width 1s, height 1s, opacity 1s, -webkit-transform 1s;
	/* Safari and Chrome */
	-o-transition: width 1s, height 1s, opacity 1s, -o-transform 1s;
	/* Opera */
	transform: scale(1.1, 1.1);
	width: 100%;
	opacity: 0.3;
}

figcaption {
	color: #666;
	text-align: center;
}

figcaption p {
	opacity: 0;
	font-size: 40px;
}

figure:hover figcaption p {
	transition: opacity 1s;
	-moz-transition: opacity 1s, -moz-transform 1s;
	/* Firefox 4 */
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	/* Safari and Chrome */
	-o-transition: opacity 1s, -o-transform 1s;
	/* Opera */
	margin-top: 22%;
	opacity: 1;
}

figcaption a {
	opacity: 0;
}

figcaption a,
figcaption {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}


/*item6*/

#item6 {
	background-color: #bdcfe7;
}

#item6 h4 {
	color: #666;
	margin-bottom: 50px;
	line-height: 30px;
}

#item6 h4 span {
	color: #333;
	font-weight: bold;
}

.message {
	box-shadow: 0 2px 10px #999;
	padding: 50px 50px 120px;
	background-color: #fff;
	clear: both;
}

.message h3 {
	padding-bottom: 20px;
}

.form-control {
	height: 48px;
	font-size: 16px;
	color: #333;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	padding: 6px 3px;
	box-shadow: none;
}

.form-control:focus {
	border: none;
	border-bottom: 1px solid #66afe9;
	box-shadow: none;
}

.message-text {
	line-height: 28px;
}

.sent {
	float: right;
	font-weight: bold;
	margin-top: 10px;
}

.btn-default {
	font-size: 18px;
	color: #333;
	background-color: #fff;
	border: none;
	border-bottom: 3px solid #333;
	border-radius: 0;
	padding: 6px 3px;
}

.btn-default:hover,
.btn-default:active:hover {
	color: #66afe9;
	background-color: #fff;
	border-color: #66afe9;
}

.btn-default:focus,
.btn-default:active:focus {
	color: #286090;
	background-color: #fff;
	border: none;
	border-bottom: 3px solid #286090;
	outline: none;
}

.btn-default:active {
	color: #286090;
	background-color: #fff;
	border-color: #286090;
	box-shadow: none;
}


/*展示图片*/

.pic-show2 {
	width: 100%;
	background: #fff;
	text-align: center;
}

.protect {
	margin: 0 auto;
}


/*====================================================
	作品
====================================================*/


/* main */

.bg-gray {
	background-color: #e4e4e4;
	
}

.margin-top {
	margin-top: 60px;
}

.work {
	padding: 50px;
	margin-bottom: 30px;
	background-color: #fff;
}

.mafra .work .img-responsive{
	margin-bottom: 0px;
	box-shadow: none;
}
.work .img-responsive{
	margin-bottom: 30px;
	box-shadow: 0 1px 0px #f8f8f8;
}

.my-pic {
	margin: 60px auto 20px;
	box-shadow: 0 1px 3px #e6e6e6;
}

.shadow {
	box-shadow: 0 1px 2px #ccc;
}

.date-sm {
	font-size: 1em;
	color: #999;
	height: 24px;
}


/* right */

.mybox {
	height: 412px;
	padding-top: 60px;
	position: relative;
}

.myself-text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 20%;
	left: 0;
}

.my-photo {
	width: 40%;
	max-width: 120px;
}

.color-red {
	width: 100%;
	background: #e57167;
	height: 39%;
	position: absolute;
	top: 0;
	left: 0;
}

.myself-text h4 {
	font-size: 1em;
	color: #666;
	padding-top: 20px;
}

.myself-text h5 {
	font-size: 1.2em;
	padding-top: 20px;
}

.line {
	border-bottom: 1px solid #e4e4e4;
	height: 68px
}

.work-title {
	height: 48px;
	border-bottom: 1px solid #e57167;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.recommend-work {
	margin-top: 18px;
}

.recommend-work a {
	color: #333;
	line-height: 36px;
	font-size: 1.2em;
}

.recommend-work a:hover {
	text-decoration: none;
	color: #e57167;
}

.recommend-work a:active {
	color: #e10000;
}


/* footer */

.footer {
	background-color: #666;
	margin-top: 80px;
	padding: 30px 0;
}

.copyright {
	color: #999;
	font-size: 1.2em;
}

.copyright img {
	margin-top: -4px;
}
